meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="icon shortcut", href="/img/nodejs.png")
link(rel="stylesheet", href="/css/normalize.css")
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
script(src="https://kit.fontawesome.com/c8a272208d.js")
link(rel="stylesheet", href="/css/app.css")
title #{nombrePagina}