<!DOCTYPE html>
html(lang="es")
	include includes/head
	body
		header.barra
			h1 
				a(href="/") Uptask - Administrador de proyectos
			a(href="/cerrar-sesion") Cerrar sesión

		main.contenedor
			aside.contenedor-proyectos
				.panel.crear-proyecto
					a(href="/proyectos/nuevo" class="boton") Nuevo proyecto
						span +
				.panel.lista-proyectos
					h2 Proyectos
					-var projects = proyectos || []
					include mixins/listadoProyectos
					+listadoProyectos(projects)

			block contenido

		include includes/scriptsJs
