<!DOCTYPE html>
html(lang="es")
	head
		include partials/header
	body
		header.barra
			h1 
				a(href="/") Uptask - Administrador de proyectos
			a(href="/cerrar-sesion") Cerrar sesión

		main.contenedor
			aside.contenedor-proyectos
				.panel.crear-proyecto
					a(href="/nuevo-proyecto" class="boton") Nuevo proyecto
						span +
				.panel.lista-proyectos
					h2 Proyectos
					include mixins/listadoProyectos
					if proyectos
						+listadoProyectos(proyectos)

			block contenido

		script(src="/dist/bundle.js")
