extends layout
block contenido
	.contenido-principal
		h1 #{nombrePagina}
		if errores
			each error in errores
				.alerta.error
					p= error.texto
		include mixins/crearProyecto
		+crearProyecto(proyecto)
