<!DOCTYPE html>
html(lang="es")
	head
		include partials/header
	body(class="login")
		.contenedor-formulario
			h1= nombrePagina
			//- muestro errores en la validacion de los campos
			if locals.mensajes
				.alertas
					each categoria in Object.keys(locals.mensajes)
						each error in mensajes[categoria]
							div(class=`alerta ${categoria}`)
								p= error
			p Agregar tu email para reestablecer la contraseña
			form(class="caja-login" method="post" action="/reestablecer")
				.campo
					label(for="email") Email:
					input(type="email" name="email" placeholder="Tu email" required 
					      value=email)
				.campo.enviar
					input(type="submit" class="boton" value="Reestablecer contraseña")
				.campo.acciones
					a(href="/iniciar-sesion") Ya recordé mi contraseña
