<!DOCTYPE html>
html(lang="es")
	head
		include partials/header
	body(class="login")
		.contenedor-formulario
			h1= nombrePagina
			p Colocar nueva contrase単a
			form(class="caja-login" method="post")
				.campo
					label(for="password") Contrase単a:
					input(type="password" name="password"
					      placeholder="Tu nueva contrase単a"
					      required)
				.campo.enviar
					input(type="submit" class="boton" 
					      value="Reestablecer contrase単a")
