<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		style
			include ./email.css
	body
		h2 Confirma tu cuenta
		p Solo queda este paso para poder tener tu cuenta.
		p Click en el siguiente enlace para hacerlo.
		a(href=`${confirmarUrl}`) Confirmar cuenta
		p Si no solicitaste esto, puedes ignorarlo
