mixin mostrarErrores(locals = {})
	if locals.mensajes
	  .alertas
      each categoria in Object.keys(locals.mensajes)
        each error in mensajes[categoria]
          div(class=`alerta ${categoria}`)
            p= error
