mixin listadoTareas(tareas = [])
  if (tareas.length > 0)
    ul
      each tarea in tareas
        li(class="tarea")
          p=tarea.tarea
          .acciones(data-id-tarea=`${tarea.id}`)
            if(tarea.estado)
              i.far.fa-check-circle.completo
            else
              i.far.fa-check-circle
            i.fas.fa-trash
  else
    p.informative Aún no hay tareas
