mixin listadoProyectos(proyectos = [])
	if (proyectos.length > 0)
		ul(id="proyectos" class="proyectos")
			each proyecto in proyectos
				li
					a(href=`/proyectos/${proyecto.url}`)=proyecto.nombre
	else
		p.informative Comienza a crear
